# Systems
.DS_Store

# Astro build output
dist/
.astro/

# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
/.pnpm-store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Vercel
.vercel